.my-swiper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-img { 
    width: 182px;
    height: auto;
    object-fit: cover;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

.swiper-img:hover {
    cursor: grab;
    filter: none;
}
