.font-color {
    color: #aaa;
}

.size-text {
    font-size: 0.9rem;
    line-height: 1.6;
}

.large-quote-icon {
    font-size: 60px;
    color: #ec1113;
}

.text-height {
    height: 150px;
}

.text-font {
    font-size: 18px;
    font-weight: 500;
}

.testimonial-swiper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


.testimonial-swiper {
    .swiper-pagination-bullets  {
        display: flex;
        align-items: center;
        justify-content: left;
        min-height: 30px;
        
        .swiper-pagination-bullet {
           
        }
    } 
}