.bussiness-img {
    object-fit: cover;
    border-radius: 0;
  }

.title {
  padding-top: 0.2rem;
  padding-bottom: 0.5rem;
}

.title:hover {
  color: #ec1113;
  transition: transform 0.3s ease;
}

  .custom-navigation {
    display: flex;
    justify-content: flex-start;
    gap: 7px;
  }

  .read-more-link {
    display: inline-flex;
    color: #ec1113;
    text-decoration: none;
    position: relative;
    transition: transform 0.3s ease;
  }
  
  .read-more-arrow {
    transition: transform 0.3s ease, opacity 0.3s ease;

  }
  
  .read-more-text {
    transition: transform 0.3s ease;
  }
  
  .read-more-link:hover .read-more-text {
    transform: translateX(-25px); 
  }
  
  .read-more-link:hover .read-more-arrow {
    transform: translateX(-25px); 
    opacity: 0;
  }
  
.read-more-link .read-more-arrow-back {
  position: absolute;
  right: -22px; 
  top: 62px; 
  transform: translateY(-50%); 
  opacity: 0;
  color: #ec1113;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.read-more-link:hover .read-more-arrow-back {
  opacity: 1;
  transform: translateX(-15px) translateY(-50%);
}

.swiper-pagination-bullet {
  background-color: gray;
  width: 9px;
  height: 9px;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  background-color:#ec1113;
  width: 20px;
  border-radius: 8px;
  opacity: 1;
}
