.author-card {
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.author-title {
    color: #aaa;
    font-size: 11px;
    margin: 0 0 10px;
}

.author-text {
    font-size: 12px;
    color: #222;
    font-weight: 400; 
}

@media (max-width:576px) {
    .author-sm-body {
        padding-left: 0;
        padding-right: 0;
    }

    .author-card{
        justify-content: flex-start;
        padding: 1rem;
        margin: .5rem;
    }
}