.breadcrumb {
  margin-top: 18.5rem !important;
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
}

@media (max-width: 768px) {
  .breadcrumb {
    margin-top: 20rem !important;
  }
}

@media (max-width:576px) {
  .breadcrumb {
    margin-top: 20rem !important;
  }
}

@media (max-width: 480px) {
  .breadcrumb {
    margin-top: 10.5rem !important;
  }
}

.breadcrumb-item {
  font-size: 13px;
  color: #888;
  display: flex;
  align-items: center;
}

/* جداکننده `/` */
.breadcrumb-item + .breadcrumb-item::before {
  content: '/';
  color: #888;
  padding: 0 0.3rem;
}

.breadcrumb-item a {
  color: #888;
  text-decoration: none;
}

.custom-border-bottom {
  border-bottom: 1px solid #e5e8ec;
}
