.commitment-bg {
    background-image: url('/images/mission_bg_2.jpg');
    position: relative;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: auto;
}

.commitment-bg::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(34, 34, 34, 0.7);
    z-index: 1; 
}

.commitment-text {
    position: relative;
    color: #ffffff;
    z-index: 2;
    background: transparent;
    padding: 1rem;
}
