@media (max-width: 768px) {
    .py-content {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }


.excellence-display {
    @media (min-width: 992px){
    display: flex;
    flex-direction: row;
    }

@media (max-width:576px) {
    display: flex;
    flex-direction: column;
}
}

@media (max-width:576px) {
  .padding-top-md {
    padding-top: 4rem;
  } 

  .sm-padding {
    padding: 0 1.5rem;
  }
}

@media ( max-width:360px) {
  .sm-font-size {
    font-size: 11px;
  }

  .sm-title-padding {
    padding-bottom: 1.5rem;
  }
}