.bg-color {
    background-color: #30353a;
}

.social-icon {
    width: 50px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f3f5; // رنگ پس‌زمینه
    border-radius: 2px; // برای مربع
    padding: 0; // حذف پدینگ داخلی
    transition: background-color 0.3s ease;
  
    i {
      margin: 0; // حذف مارجین داخلی آیکون‌ها
      line-height: 1; // تنظیم دقیق‌تر جایگذاری آیکون
    }
  
    &:hover {
      background-color: #ff0000; // رنگ پس‌زمینه هنگام هاور
      color: #ffff;
    }
  }

