.bg-color {
    background-color: #30353a;
}

.social-icon {
    width: 50px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f3f5; 
    border-radius: 2px; 
    padding: 0; 
    transition: background-color 0.3s ease;
  
    i {
      margin: 0; 
      line-height: 1; 
    }
  
    &:hover {
      background-color: #ec1113; 
      color: #ffff;
    }
  }

@media (max-width:480px) {
  .xs-footer-display {
    padding-top: 3rem;
  }
}