.links {
  text-decoration: none;
  padding-bottom: 0.3rem;

  &:hover {
    @if not(isFooter) {
      transition: all 0.3s;
    }
  }
}

.header-links {
  display: flex;
  gap: 3.5rem;
  color: #fff;
}

.header-list {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
  &:hover {
    color: #f1f1f1; 
  }
}

.footer-list {
  position: relative; 
  color: #888;
  font-size: small;
  padding-right: 1rem; 
  
  &::before {
    content: '●';
    font-size: 0.5rem; 
    color: #888; 
    position: absolute;
    right: 0; 
    top: 50%;
    transform: translateY(-50%); 
  }
}

.footer-links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1rem; 
  height: auto; 
  max-height: 10rem; 
}

.active {
  padding: 10px 24px;
  border-radius: 25px;
  border: 1.5px solid;
  background-color: transparent; 
}

.footer-list.active {
  background-color: transparent;
}
