.value-content {
    background-color: #ec1113;
    display: flex;
    align-items: center;
    justify-content: center;
}

.value-image {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
}

.card-padding {
    padding-top: 5rem;
    padding-bottom: 4.5rem;

    @media (max-width:480px) {
      padding-top: 3rem;
      padding-bottom: 2rem;
    }
}

@media (max-width: 768px) {
  .value-content {
    order: 1; /* برای اینکه قسمت قرمز بالاتر قرار بگیره*/
  }
  .value-image-container {
    order: 2; 
  }
}

@media (max-width: 360px) {
  .sm-width {
    width: 100%;
  }
}
