.pb-7 {
    padding-bottom: 7rem;
}

.p-top-4 {
    padding-top: 4rem;
}

.bg-red {
    background-color: #ec1113;
} 

.office-display-size {
    padding-left: 3rem;
    padding-right: 3rem;
}

.gap-displaye {
    gap: 2.5rem;
}
@media (max-width:768px) {
    .office-display-size {
        width: 50%;
        padding-right: 2rem;
        padding-left: 2rem;
        right: 0;
    }
}
@media (max-width:480px) {
    .office-display-size {
        width: 50%;
        right: 0;
        font-size: 12px;
        padding-left: 2px;
        padding-right: 2rem;
    }
}