.center-content {
    height: 100vh; 
    display: flex;
    align-items: right;
    margin-top: 5.5rem;
  }
  
  .animated-line {
    position: absolute;
    left: calc(100% + 5px); 
    top: 20px; 
    width: 4px;
    height: 60px; 
    background-color: #fff;
    animation: moveLine 3s infinite ease-in-out;
  }
  
  @keyframes moveLine {
    0% {
      height: 0;
      top: 20px; /* تنظیم موقعیت شروع انیمیشن */
    }
    50% {
      height: 60px;
      top: 20px; /* خط در میانه مسیر */
    }
    100% {
      height: 0;
      top: 80px; /* موقعیت پایین‌تر در پایان انیمیشن */
    }
  }  
  
  .main-title {
    color: #fff;
    font-size: 2.5rem;
    font-weight: bold;
    font-size: 50px;
    padding-right: 2rem;
  }
  
  .description {
    color: #fff;
    font-size: 1rem;
    padding-right: 2rem;

  }
  
