@import './slider.scss';
@import './boxes.scss';
@import './center.scss';

.header-content {
    z-index: 2;
  }
  
  .logo-img {
    width: auto;
    height: 50px;
  }
  
  .social-links, .contact-info {
    color: #fff;
  }
  
 /* .full-width-border {
    width: 100%;
    border-bottom: 1px solid #fff; 
    margin-bottom: 10px;
  }
  */

  .bottom-line {
    border-bottom: 1px solid #888;
  }
  
  .left-border {
    border-right: 1px solid #888; 
    margin-right: 2.5rem;
  }
  
  .x-padding {
    padding-right: 2.5rem;
    padding-left: 0;

  }

  .links {
    text-decoration: none;
    padding-bottom: .3rem;
  }
  
  .header-links {
    display: flex;
    gap: 3.5rem;
    color: #fff;
  }
  
  .header-list {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
  
    &:hover {
      color: #ec1113;
    }
  
    &.active {
      color: #fff;
      &:hover {
        color: #fff;
      }
    }
  }
  