@use "sass:math";
@import "./font.css";
@import '~bootstrap/scss/bootstrap.scss';
@import "bootstrap-icons/font/bootstrap-icons.css";
@import 'bootstrap/dist/css/bootstrap.min.css'; 

// swiper
@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';

//components 
@import 'components/navbar.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  --bs-gutter-x:0;
}

.container-fluid {
  --bs-gutter-x: 7rem; 
}

body {
  overflow-x: hidden;
  font-family: iransansdn !important;
  direction: rtl;
}

a {
  text-decoration :none;
}

