@use "sass:math";
@import "./font.css";
@import '~bootstrap/scss/bootstrap.scss';
@import "bootstrap-icons/font/bootstrap-icons.css";
@import 'bootstrap/dist/css/bootstrap.min.css';

// swiper
@import 'swiper/scss';
@import 'swiper/scss/autoplay';

//components 
@import 'components/navbar.scss';
@import 'components/footer.scss';
@import 'components/Office/main.scss';
@import 'components/header/main.scss';
@import 'components/aboutUs.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.container {
  --bs-gutter-x:3rem;
}

.container-fluid {
  --bs-gutter-x:0; 
}

body {
  overflow-x: hidden;
  font-family: iransansdn !important;
  direction: rtl;
}

a {
  text-decoration :none;
  list-style: circle;
}

.title-color {
  color: #222;
}
.text-color {
  color: #888;
}

.red-color {
  color: #ec1113;
}

.text-line-height {
  line-height: 1.8;
}  

p{
  margin: 0;
  line-height: 1.7;
}

.h-100 { 
  height: 100vh; 
} 

iframe { 
  border: none; 
} 

.custom-border-top {
  border-top: 1px solid #fff ;
}
